<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="it.memelabs.smartnebula.lmm.persistence.main.mapper.ActivityJobAttributeExMapper">

    <delete id="deleteByJobReferenceId">
        delete from activity_job_attribute ATT USING activity_job JOB
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="referenceId!=null">
                AND JOB.reference_id = #{referenceId,jdbcType=BIGINT}
            </if>
            <if test="type!=null">
                AND JOB.type = #{type.name,jdbcType=VARCHAR}
            </if>
            <if test="referenceObject!=null">
                AND JOB.reference_object = #{referenceObject.name,jdbcType=VARCHAR}
            </if>
        </trim>
        AND JOB.id=ATT.job_id
    </delete>

    <delete id="deleteByJobId"
            parameterType="long">
        delete from activity_job_attribute
        where job_id = #{jobId,jdbcType=BIGINT}
    </delete>

    <insert id="insertAttributes" parameterType="list">
        insert into activity_job_attribute (job_id,
        attr_name,
        attr_value,
        attr_type_id)
        VALUES
        <foreach collection="attributes" item="att" separator=",">
            (#{att.jobId,jdbcType=BIGINT},
            #{att.attrName,jdbcType=VARCHAR},
            #{att.attrValue,jdbcType=VARCHAR},
            #{att.attrTypeId,jdbcType=VARCHAR})
        </foreach>
    </insert>

</mapper>