<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="it.memelabs.smartnebula.lmm.persistence.main.mapper.ActivityJobExMapper">

    <resultMap id="ExResultMap" type="it.memelabs.smartnebula.lmm.persistence.main.dto.ActivityJobEx"
               extends="it.memelabs.smartnebula.lmm.persistence.main.mapper.ActivityJobMapper.BaseResultMap">
        <association property="attributes"
                     javaType="it.memelabs.smartnebula.lmm.persistence.main.dto.ActivityJobAttribute"
                     columnPrefix="ATT_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.ActivityJobAttributeMapper.BaseResultMap">
        </association>
    </resultMap>


    <sql id="Conditional_Where">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="status!=null">
                AND JOB.status=#{status.name,jdbcType=VARCHAR}
            </if>
            <if test="type!=null">
                AND JOB.type=#{type.name,jdbcType=VARCHAR}
            </if>
            <if test="ownerNodeId!=null">
                AND JOB.owner_node_id=#{ownerNodeId,jdbcType=BIGINT}
            </if>
            <if test="referenceId!=null">
                AND JOB.reference_id=#{referenceId,jdbcType=BIGINT}
            </if>
            <if test="scheduledSince!=null"><![CDATA[
                AND JOB.scheduled_stamp>=#{scheduledSince,jdbcType=BIGINT}]]>
            </if>
            <if test="scheduledUntil!=null"><![CDATA[
                AND JOB.scheduled_stamp<=#{scheduledUntil,jdbcType=BIGINT}]]>
            </if>
        </trim>
    </sql>



    <select id="selectByPrimaryKeyEx" resultMap="ExResultMap" parameterType="java.lang.Long">
        select
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.ActivityJobMapper.Alias_Column_List">
            <property name="tableAlias" value="JOB."/>
            <property name="fieldAlias" value=""/>
        </include>
        ,
        <include
                refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.ActivityJobAttributeMapper.Alias_Column_List">
            <property name="tableAlias" value="ATT."/>
            <property name="fieldAlias" value="ATT_"/>
        </include>
        from activity_job AS JOB
        LEFT OUTER JOIN activity_job_attribute ATT on ATT.job_id=JOB.id
        where JOB.id = #{id,jdbcType=BIGINT}
    </select>


    <select id="selectByFilterEx" resultMap="ExResultMap"
            parameterType="it.memelabs.smartnebula.lmm.persistence.job.dao.ActivityJobFilter">
        select
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.ActivityJobMapper.Alias_Column_List">
            <property name="tableAlias" value="JOB."/>
            <property name="fieldAlias" value=""/>
        </include>
        ,
        <include
                refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.ActivityJobAttributeMapper.Alias_Column_List">
            <property name="tableAlias" value="ATT."/>
            <property name="fieldAlias" value="ATT_"/>
        </include>
        from activity_job AS JOB
        JOIN activity_job_attribute ATT on ATT.job_id=JOB.id
        <include refid="Conditional_Where"/>
        ORDER BY scheduled_stamp ASC
    </select>

    <select id="selectByFilter" resultMap="ExResultMap"
            parameterType="it.memelabs.smartnebula.lmm.persistence.job.dao.ActivityJobFilter">
        select
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.ActivityJobMapper.Alias_Column_List">
            <property name="tableAlias" value="JOB."/>
            <property name="fieldAlias" value=""/>
        </include>
        from activity_job AS JOB
        <include refid="Conditional_Where"/>
        ORDER BY scheduled_stamp ASC
    </select>


    <delete id="deleteByReferenceId">
        delete from activity_job
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="referenceId!=null">
                AND reference_id = #{referenceId,jdbcType=BIGINT}
            </if>
            <if test="type!=null">
                AND type = #{type.name,jdbcType=VARCHAR}
            </if>
            <if test="referenceObject!=null">
                AND reference_object = #{referenceObject.name,jdbcType=VARCHAR}
            </if>
        </trim>
    </delete>



    <update id="updateConsumedByPrimaryKey"
            parameterType="it.memelabs.smartnebula.lmm.persistence.main.dto.ActivityJob">
        update activity_job
        set
        description = #{description,jdbcType=VARCHAR},
        modified_stamp = #{modifiedStamp,jdbcType=TIMESTAMP},
        modified_by_user_id = #{modifiedByUserId,jdbcType=BIGINT},
        consumed_stamp = #{consumedStamp,jdbcType=TIMESTAMP},
        status = #{status,jdbcType=VARCHAR},
        fail_message = #{failMessage,jdbcType=VARCHAR}
                where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>