<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="it.memelabs.smartnebula.lmm.persistence.main.mapper.AntimafiaProcessExMapper">

	<resultMap id="BaseResultMap" type="it.memelabs.smartnebula.lmm.persistence.main.dto.AntimafiaProcessEx" extends="it.memelabs.smartnebula.lmm.persistence.main.mapper.AntimafiaProcessMapper.BaseResultMap">
		<association property="state" columnPrefix="st_" resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.EntityStateMapper.BaseResultMap" />
		<association property="causal" columnPrefix="causal_" resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.EntityStateMapper.BaseResultMap" />
		<association property="prefecture" columnPrefix="prefecture_" resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.IdentifiableMapper.BaseResultMap" />
		<association property="company" columnPrefix="company_" resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.CompanyMapper.BaseResultMap" />
		<association property="lot" columnPrefix="lot_" resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.LotMapper.BaseResultMap" />
	</resultMap>
	
	<sql id="Select_Joined_Column_List">
		, pref.description as prefecture_description
		,
		<include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.EntityStateExMapper.Min_Alias_Column_List">
			<property name="tableAlias" value="es." />
			<property name="fieldAlias" value="st_" />
		</include>
		, es.id AS st_id
		,
		<include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.EntityStateExMapper.Min_Alias_Column_List">
			<property name="tableAlias" value="esc." />
			<property name="fieldAlias" value="causal_" />
		</include>
		,
		<include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.CompanyExMapper.Min_White_List_Alias_Column_List">
			<property name="tableAlias" value="c." />
			<property name="fieldAlias" value="company_" />
		</include>
		,
		<include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.LotExMapper.Min_Alias_Column_List">
			<property name="tableAlias" value="lot." />
			<property name="fieldAlias" value="lot_" />
		</include>
	</sql>

	<sql id="Select_Joined_Tables">
		left join entity_state es on ap.state_id=es.id
		left join entity_state esc on ap.causal_id=esc.id
		left join company c on ap.company_id=c.id
		left join prefecture pref on ap.prefecture_id=pref.id
		left join lot on ap.lot_id=lot.id
	</sql>

	<select id="selectExByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.AntimafiaProcessMapper.Alias_Column_List">
			<property name="tableAlias" value="ap." />
			<property name="fieldAlias" value="" />
		</include>
		<include refid="Select_Joined_Column_List" />
		from antimafia_process ap
		<include refid="Select_Joined_Tables" />
		where ap.id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectExByExampleWithRowbounds" parameterType="it.memelabs.smartnebula.lmm.persistence.main.dto.AntimafiaProcessExExample" resultMap="BaseResultMap">
		select * from (
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.AntimafiaProcessMapper.Alias_Column_List">
			<property name="tableAlias" value="ap." />
			<property name="fieldAlias" value="" />
		</include>
		<include refid="Select_Joined_Column_List" />
		from antimafia_process ap
		<include refid="Select_Joined_Tables" />
		) t
		<if test="_parameter != null">
			<include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.AntimafiaProcessMapper.Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

</mapper>
