<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="it.memelabs.smartnebula.lmm.persistence.main.mapper.CommentExMapper">
    <resultMap id="BaseResultMap" type="it.memelabs.smartnebula.lmm.persistence.main.dto.CommentEx"
               extends="it.memelabs.smartnebula.lmm.persistence.main.mapper.CommentMapper.BaseResultMap">
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <association property="commentType" columnPrefix="CT_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.CommentTypeMapper.BaseResultMap"/>
        <association property="constructionSiteLog" columnPrefix="CSL_" javaType="it.memelabs.smartnebula.lmm.persistence.main.dto.ConstructionSiteLogEx" 
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.ConstructionSiteLogMapper.BaseResultMap"/>
        <association property="constructionSite" columnPrefix="CS_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.ConstructionSiteMapper.BaseResultMap"/>
        <association property="contract" columnPrefix="CONT_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.ContractMapper.BaseResultMap"/>
    	<association property="antimafiaProcess" columnPrefix="AP_" javaType="it.memelabs.smartnebula.lmm.persistence.main.dto.AntimafiaProcessEx" 
    				 resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.AntimafiaProcessExMapper.BaseResultMap"/>
	</resultMap>

    <select id="selectByExampleEx" resultMap="BaseResultMap"
            parameterType="it.memelabs.smartnebula.lmm.persistence.main.dto.CommentExample">
        select * from (
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.CommentMapper.Alias_Column_List">
            <property name="tableAlias" value="WC."/>
            <property name="fieldAlias" value=""/>
        </include>
        , m.username as username
        , <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.CommentTypeMapper.Alias_Column_List">
            <property name="tableAlias" value="CT."/>
            <property name="fieldAlias" value="CT_"/>
        </include>
        from comment WC 
        left JOIN user_login m on m.id = WC.modified_by_user_id
        left JOIN comment_type CT on CT.id = WC.comment_type_id
        ) t
        <if test="_parameter != null">
            <include
                    refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.CommentMapper.Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    
	<select id="selectExByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.CommentMapper.Alias_Column_List">
			<property name="tableAlias" value="WC." />
			<property name="fieldAlias" value="" />
		</include>
		, <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.CommentTypeMapper.Alias_Column_List">
            <property name="tableAlias" value="CT."/>
            <property name="fieldAlias" value="CT_"/>
        </include>
        , <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.ConstructionSiteLogMapper.Alias_Column_List">
            <property name="tableAlias" value="CSL."/>
            <property name="fieldAlias" value="CSL_"/>
        </include>
        , <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.ConstructionSiteExMapper.Min_Alias_Column_List">
            <property name="tableAlias" value="CS."/>
            <property name="fieldAlias" value="CS_"/>
        </include>
        , <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.ContractExMapper.Min_Alias_Column_List">
        	<property name="tableAlias" value="CONT." />
        	<property name="fieldAlias" value="CONT_" />
        </include>
        , APP.description as AP_prefecture_description
		, APL.id as AP_lot_id
		, APL.code as AP_lot_code
		, AP.created_stamp as AP_created_stamp
		, APC.business_name as AP_company_business_name
	    from comment WC 
		left JOIN comment_type CT on CT.id = WC.comment_type_id
        left JOIN construction_site_log CSL on CSL.id = WC.construction_site_log_id
        left JOIN construction_site CS on CS.id = CSL.construction_site_id
        left JOIN contract CONT on WC.contract_id=CONT.id
        left JOIN antimafia_process AP on WC.antimafia_process_id=AP.id
		left JOIN lot APL on AP.lot_id = APL.id
		left JOIN company APC on AP.company_id = APC.id
		left JOIN prefecture APP on AP.prefecture_id = APP.id	
        where WC.id = #{id,jdbcType=BIGINT}
	</select>
</mapper>