<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="it.memelabs.smartnebula.lmm.persistence.main.mapper.CompanyCompositionExMapper">

	<resultMap id="BaseResultMap" type="it.memelabs.smartnebula.lmm.persistence.main.dto.CompanyCompositionEx" extends="it.memelabs.smartnebula.lmm.persistence.main.mapper.CompanyCompositionMapper.BaseResultMap">
		<result column="business_name" property="businessName" jdbcType="VARCHAR" />
		<result column="tax_identification_number" property="taxIdentificationNumber" jdbcType="VARCHAR" />
		<result column="vat_number" property="vatNumber" jdbcType="VARCHAR" />
      <result column="cs_description" property="companyState" jdbcType="VARCHAR" />
      <result column="cat_description" property="companyCategory" jdbcType="VARCHAR" />
      <result column="class_description" property="companyClassification" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectExByExample" parameterType="it.memelabs.smartnebula.lmm.persistence.main.dto.CompanyCompositionExample" resultMap="BaseResultMap">
		select * from (
			select
			<if test="distinct">
				distinct
			</if>
			<include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.CompanyCompositionMapper.Alias_Column_List">
				<property name="tableAlias" value="cc." />
				<property name="fieldAlias" value="" />
			</include>
			, c.business_name
			, c.tax_identification_number
			, c.vat_number
          , cs.description as cs_description
          , cat.description as cat_description
          , class.description as class_description 
			from company_composition cc
      		inner join company c on cc.company_id=c.id
          left join entity_state cs on c.state_id=cs.id 
          left join company_category cat on c.category_id=cat.id
          left join company_classification class on c.classification_id=class.id 
		) r
		<if test="_parameter != null">
			<include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.CompanyCompositionMapper.Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

</mapper>
