<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="it.memelabs.smartnebula.lmm.persistence.main.mapper.ConstructionSiteLogWeatherDataExMapper">
    <resultMap id="BaseResultMap"
               type="it.memelabs.smartnebula.lmm.persistence.main.dto.ConstructionSiteLogWeatherDataEx"
               extends="it.memelabs.smartnebula.lmm.persistence.main.mapper.ConstructionSiteLogWeatherDataMapper.BaseResultMap">
        <association property="activitySuspension" columnPrefix="acs_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.ConstructionSiteLogWeatherCatalogMapper.BaseResultMap"/>
        <association property="windType" columnPrefix="wt_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.ConstructionSiteLogWeatherCatalogMapper.BaseResultMap"/>
        <association property="weatherCondition" columnPrefix="wc_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.ConstructionSiteLogWeatherCatalogMapper.BaseResultMap"/>
    </resultMap>

    <select id="selectExByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include
                refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.ConstructionSiteLogWeatherDataMapper.Alias_Column_List">
            <property name="tableAlias" value="wd."/>
            <property name="fieldAlias" value=""/>
        </include>
        ,
        acs.id as acs_id,
        acs.description as acs_description,
        wc.id as wc_id,
        wc.description as wc_description,
        wt.id as wt_id,
        wt.description as wt_description
        from construction_site_log_weather_data wd
        LEFT JOIN construction_site_log_weather_catalog acs on acs.id = wd.activity_suspension_id
        LEFT JOIN construction_site_log_weather_catalog wc on wc.id = wd.weather_condition_id
        LEFT JOIN construction_site_log_weather_catalog wt on wt.id = wd.wind_type_id
        where wd.id = #{id,jdbcType=BIGINT}
    </select>

</mapper>