<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="it.memelabs.smartnebula.lmm.persistence.main.mapper.EmploymentToExportExMapper">
    <update id="markPersonEmploymentAsSent">
    update person_employment
    set exported_stamp= #{modifiedStamp,jdbcType=TIMESTAMP}
     where id in (
      select person_employment_id from employment_to_export
      where  person_employment_id is not null and owner_node_id = #{ownerNodeId,jdbcType=BIGINT} and session_id=#{sessionId,jdbcType=BIGINT}
       ) and owner_node_id = #{ownerNodeId,jdbcType=BIGINT}
  </update>

    <update id="markEquipmentEmploymentAsSent">
    update equipment_employment
    set exported_stamp= #{modifiedStamp,jdbcType=TIMESTAMP}
     where id in (
      select equipment_employment_id from employment_to_export
      where  equipment_employment_id is not null and owner_node_id = #{ownerNodeId,jdbcType=BIGINT} and session_id=#{sessionId,jdbcType=BIGINT}
       ) and owner_node_id = #{ownerNodeId,jdbcType=BIGINT}
  </update>
</mapper>