<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="it.memelabs.smartnebula.lmm.persistence.main.mapper.GalleryImageExMapper">
    <resultMap id="BaseResultMap" type="it.memelabs.smartnebula.lmm.persistence.main.dto.GalleryImageEx"
               extends="it.memelabs.smartnebula.lmm.persistence.main.mapper.GalleryImageMapper.BaseResultMap">
        <association property="company" javaType="it.memelabs.smartnebula.lmm.persistence.main.dto.Company"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.CompanyMapper.BaseResultMap"
                     columnPrefix="c_"/>
        <association property="wbs" javaType="it.memelabs.smartnebula.lmm.persistence.main.dto.Wbs"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.WbsMapper.BaseResultMap"
                     columnPrefix="wbs_"/>
        <association property="constructionSite"
                     javaType="it.memelabs.smartnebula.lmm.persistence.main.mapper.ConstructionSiteMapper"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.ConstructionSiteMapper.BaseResultMap"
                     columnPrefix="cs_"/>
    </resultMap>

    <select id="selectNextId" resultType="long">
    SELECT nextval('gallery_image_id_seq')
  </select>


    <select id="selectExByExampleWithRowbounds" parameterType="it.memelabs.smartnebula.lmm.persistence.main.dto.GalleryImageExample"
            resultMap="BaseResultMap">
        select * from (
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="exColumns"/>
        from gallery_image gi
        LEFT JOIN construction_site cs on gi.construction_site_id=cs.id
        LEFT JOIN company c on gi.company_id=c.id
        LEFT JOIN wbs wbs on gi.wbs_id=wbs.id
        ) t
        <if test="_parameter != null">
            <include
                    refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.GalleryImageMapper.Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <select id="selectExByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="exColumns"/>
        from gallery_image gi
        LEFT JOIN construction_site cs on gi.construction_site_id=cs.id
        LEFT JOIN company c on gi.company_id=c.id
        LEFT JOIN wbs wbs on gi.wbs_id=wbs.id
        where gi.id = #{id,jdbcType=BIGINT}
    </select>

    <sql id="exColumns">
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.GalleryImageMapper.Alias_Column_List">
            <property name="tableAlias" value="gi."/>
            <property name="fieldAlias" value=""/>
        </include>
        ,
        <include
                refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.ConstructionSiteExMapper.Min_Alias_Column_List">
            <property name="tableAlias" value="cs."/>
            <property name="fieldAlias" value="cs_"/>
        </include>
        ,
        <include
                refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.WbsExMapper.Min_Alias_Column_List">
            <property name="tableAlias" value="wbs."/>
            <property name="fieldAlias" value="wbs_"/>
        </include>
        ,
        <include
                refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.CompanyExMapper.Min_Alias_Column_List">
            <property name="tableAlias" value="c."/>
            <property name="fieldAlias" value="c_"/>
        </include>
    </sql>

</mapper>