<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="it.memelabs.smartnebula.lmm.persistence.main.mapper.JobOrderExMapper">

    <resultMap id="ExResultMap" type="it.memelabs.smartnebula.lmm.persistence.main.dto.JobOrderEx"
               extends="it.memelabs.smartnebula.lmm.persistence.main.mapper.JobOrderMapper.BaseResultMap">

        <association property="rsp" javaType="it.memelabs.smartnebula.lmm.persistence.main.dto.Person"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.PersonMapper.BaseResultMap"
                     columnPrefix="P_">
        </association>
    </resultMap>
    
    <sql id="Example_Where_Clause">        
        <trim prefix="WHERE" prefixOverrides="and |or ">
            <trim prefix="and (" suffix=")" prefixOverrides="WHERE">
                <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.JobOrderMapper.Example_Where_Clause"/>                    
            </trim>
            <if test="filterText != null">
                and (
                lower(description) like lower(#{filterText})
                or lower(code) like lower(#{filterText})                
                )
            </if>
        </trim>
    </sql>

    <select id="selectByPrimaryKeyEx" parameterType="java.lang.Long" resultMap="ExResultMap">
        select 
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.JobOrderMapper.Alias_Column_List">
            <property name="tableAlias" value="jo."/>
            <property name="fieldAlias" value=""/>
        </include>
        ,
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.PersonMapper.Alias_Column_List">
            <property name="tableAlias" value="p."/>
            <property name="fieldAlias" value="p_"/>
        </include>             
        from job_order jo  
        left join person p on p.id = jo.rsp_id
        where jo.id = #{id,jdbcType=BIGINT}                
    </select>


    <select id="selectByExampleWithRowboundsEx"
            parameterType="it.memelabs.smartnebula.lmm.persistence.main.dto.JobOrderExExample"
            resultMap="ExResultMap">
        select * from (
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.JobOrderMapper.Alias_Column_List">
            <property name="tableAlias" value="JO."/>
            <property name="fieldAlias" value=""/>
        </include>
        ,
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.PersonMapper.Alias_Column_List">
            <property name="tableAlias" value="P."/>
            <property name="fieldAlias" value="P_"/>
        </include>

        from job_order JO
        left join person P on P.id = JO.rsp_id
        ) t
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    
     <select id="countByExampleEx" parameterType="it.memelabs.smartnebula.lmm.persistence.main.dto.JobOrderExExample"
            resultType="java.lang.Integer">
        select count(*) from job_order
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>        
    </select>
</mapper>