<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="it.memelabs.smartnebula.lmm.persistence.main.mapper.NodeConfigurationExMapper">
    <resultMap id="BaseResultMap" type="it.memelabs.smartnebula.lmm.persistence.main.dto.NodeConfigurationEx"
               extends="it.memelabs.smartnebula.lmm.persistence.main.mapper.NodeConfigurationMapper.BaseResultMap">
        <association property="node" javaType="it.memelabs.smartnebula.lmm.persistence.main.dto.Node"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.NodeMapper.BaseResultMap"
                     columnPrefix="n_"/>
    </resultMap>

    <select id="selectByPrimaryKeyEx" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.NodeConfigurationMapper.Alias_Column_List">
            <property name="tableAlias" value="c."/>
            <property name="fieldAlias" value=""/>
        </include>
        ,
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.NodeMapper.Alias_Column_List">
            <property name="tableAlias" value="n."/>
            <property name="fieldAlias" value="n_"/>
        </include>
        from node_configuration as c JOIN node as n on n.id=c.id
        where c.id = #{id,jdbcType=BIGINT}
    </select>
</mapper>