<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="it.memelabs.smartnebula.lmm.persistence.main.mapper.NotificationEventExMapper">

    <select id="selectByNotificationGroup"
            resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.NotificationEventMapper.BaseResultMap"
            parameterType="long">
        select
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.NotificationEventMapper.Base_Column_List"/>
        from notification_event
        WHERE notification_group_id = #{id,jdbcType=BIGINT}
        order by event_id
    </select>

    <insert id="batchInsert">
        INSERT INTO notification_event (
        event_id,
        notification_group_id,
        enabled,
        start_date,
        promise_date,
        notification_interval,
        execution_interval,
        status
        )
        VALUES
        <foreach collection="events" item="model" separator=",">
            (
            #{model.eventId,jdbcType=VARCHAR,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            #{model.notificationGroupId,jdbcType=BIGINT},
            #{model.enabled,jdbcType=BIT},
            #{model.startDate,jdbcType=DATE},
            #{model.promiseDate,jdbcType=DATE},
            #{model.notificationInterval,jdbcType=INTEGER},
            #{model.executionInterval,jdbcType=INTEGER},
            #{model.status,jdbcType=VARCHAR,typeHandler=org.apache.ibatis.type.EnumTypeHandler}
            )
        </foreach>
    </insert>

</mapper>