<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="it.memelabs.smartnebula.lmm.persistence.main.mapper.PostalAddressExMapper">

    <resultMap id="BaseResultMap" type="it.memelabs.smartnebula.lmm.persistence.main.dto.PostalAddressEx"
               extends="it.memelabs.smartnebula.lmm.persistence.main.mapper.PostalAddressMapper.BaseResultMap">
        <association property="countryGeo" columnPrefix="country_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.GeoMapper.BaseResultMap"/>
        <association property="municipalityGeo" columnPrefix="municipality_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.GeoMapper.BaseResultMap"/>
        <association property="postalCodeGeo" columnPrefix="postal_code_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.GeoMapper.BaseResultMap"/>
        <association property="provinceGeo" columnPrefix="state_province_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.GeoMapper.BaseResultMap"/>
        <association property="regionGeo" columnPrefix="region_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.GeoMapper.BaseResultMap"/>
    </resultMap>


    <sql id="Alias_Column_List">
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.PostalAddressMapper.Alias_Column_List">
            <!--tableAlias and fielAlias are valorized from parent-->
            <!--<property name="tableAlias" value="pa."/>
            <property name="fieldAlias" value=""/>-->
        </include>
        ,
        ${tableAlias}country_geo_name AS ${fieldAlias}country_geo_name,
        ${tableAlias}country_geo_code AS ${fieldAlias}country_geo_code,
        ${tableAlias}municipality_geo_name AS ${fieldAlias}municipality_geo_name,
        ${tableAlias}municipality_geo_code AS ${fieldAlias}municipality_geo_code,
        ${tableAlias}postal_code_geo_name AS ${fieldAlias}postal_code_geo_name,
        ${tableAlias}postal_code_geo_code AS ${fieldAlias}postal_code_geo_code,
        ${tableAlias}state_province_geo_name AS ${fieldAlias}state_province_geo_name,
        ${tableAlias}state_province_geo_code AS ${fieldAlias}state_province_geo_code,
        ${tableAlias}state_province_abbreviation AS ${fieldAlias}state_province_abbreviation,
        ${tableAlias}region_geo_name AS ${fieldAlias}region_geo_name,
        ${tableAlias}region_geo_code AS ${fieldAlias}region_geo_code
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Alias_Column_List">
            <property name="tableAlias" value="pa."/>
            <property name="fieldAlias" value=""/>
        </include>
        from postal_address_view pa
        where id = #{id,jdbcType=BIGINT}
    </select>


    <select id="selectByLotId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Alias_Column_List">
            <property name="tableAlias" value="pa."/>
            <property name="fieldAlias" value=""/>
        </include>
        from postal_address_view pa
        INNER join lot_location ll on ll.address_id=pa.id
        where ll.lot_id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByConstructionSiteId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Alias_Column_List">
            <property name="tableAlias" value="pa."/>
            <property name="fieldAlias" value=""/>
        </include>
        from postal_address_view pa
        INNER join construction_site_location ll on ll.address_id=pa.id
        where ll.construction_site_id = #{id,jdbcType=BIGINT}
    </select>

</mapper>
