<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="it.memelabs.smartnebula.lmm.persistence.main.mapper.WeeklyWorkLogPersonExMapper">

    <resultMap id="ExportResultMap" type="it.memelabs.smartnebula.lmm.persistence.main.dto.WeeklyWorkLogPersonExport"
               extends="it.memelabs.smartnebula.lmm.persistence.main.mapper.WeeklyWorkLogPersonMapper.BaseResultMap">
        <association property="personEmployment" columnPrefix="pe_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.PersonEmploymentExMapper.BaseResultMap"/>
        <association property="birthLocation" columnPrefix="bloc_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.PostalAddressExMapper.BaseResultMap"/>
    </resultMap>

    <select id="selectPersonEmploymentIds" resultType="java.lang.Long">
        select DISTINCT PE.person_empl_id
        from weekly_work_log_person PE
        <where>
            PE.weekly_work_log_id = #{weeklyWorkLogId,jdbcType=BIGINT}
        </where>
    </select>

    <sql id="Select_Joined_Column_List">
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.PersonEmploymentMapper.Alias_Column_List">
            <property name="tableAlias" value="pe."/>
            <property name="fieldAlias" value="pe_"/>
        </include>
        , es.description as pe_state_description
        , pr.description as pe_role_description
        , pj.id as pe_pjob_id
        , pj.description as pe_pjob_description
        ,
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.CompanyExMapper.Min_Alias_Column_List">
            <property name="tableAlias" value="c."/>
            <property name="fieldAlias" value="pe_company_"/>
        </include>
        ,
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.CompanyExMapper.Min_Alias_Column_List">
            <property name="tableAlias" value="oc."/>
            <property name="fieldAlias" value="pe_destination_company_"/>
        </include>
        ,
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.PersonMapper.Alias_Column_List">
            <property name="tableAlias" value="p."/>
            <property name="fieldAlias" value="pe_person_"/>
        </include>
    </sql>

    <sql id="Select_Joined_Tables">
        left join person_employment pe on ev.person_empl_id = pe.id
        left join entity_state es on pe.state_id=es.id
        left join company c on pe.company_id=c.id
        left join person p on pe.person_id=p.id
        left join person_role pr on pe.role_id=pr.id
        left join person_job pj on pe.job_id=pj.id
        left join company oc on pe.destination_company_id=oc.id
    </sql>




    <select id="findForExportByExample"
            resultMap="ExportResultMap">
        select * from (
        select
        <if test="distinct">
            distinct
        </if>
        <include
                refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.WeeklyWorkLogPersonMapper.Alias_Column_List">
            <property name="tableAlias" value="ev."/>
            <property name="fieldAlias" value=""/>
        </include>
        ,
        <include refid="Select_Joined_Column_List"/>
        ,
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.PostalAddressExMapper.Alias_Column_List">
            <property name="tableAlias" value="bloc."/>
            <property name="fieldAlias" value="bloc_"/>
        </include>
        from weekly_work_log_person as ev
        <include refid="Select_Joined_Tables"/>
        left join postal_address_view bloc on p.birth_location_id = bloc.id
        ) t
        <if test="_parameter != null">
            <include
                    refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.WeeklyWorkLogPersonMapper.Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

</mapper>