<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="it.memelabs.smartnebula.lmm.persistence.main.mapper.WorkLogPersonEventExMapper">
    <resultMap id="BaseResultMap" type="it.memelabs.smartnebula.lmm.persistence.main.dto.WorkLogPersonEventEx"
               extends="it.memelabs.smartnebula.lmm.persistence.main.mapper.WorkLogPersonEventMapper.BaseResultMap">
        <association property="personEmployment" columnPrefix="pe_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.PersonEmploymentExMapper.BaseResultMap"/>
        <association property="wbs" columnPrefix="wbs_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.WbsMapper.BaseResultMap"/>
        <association property="state" columnPrefix="st_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.EntityStateMapper.BaseResultMap"/>
        <association property="workLog" columnPrefix="work_log_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.WorkLogExMapper.BaseResultMap"/>
    </resultMap>

    <resultMap id="ExportResultMap" type="it.memelabs.smartnebula.lmm.persistence.main.dto.WorkLogPersonEventExport"
               extends="BaseResultMap">
        <association property="birthLocation" columnPrefix="bloc_"
                     resultMap="it.memelabs.smartnebula.lmm.persistence.main.mapper.PostalAddressExMapper.BaseResultMap"/>
    </resultMap>

    <sql id="Select_Joined_Column_List">
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.PersonEmploymentMapper.Alias_Column_List">
            <property name="tableAlias" value="pe."/>
            <property name="fieldAlias" value="pe_"/>
        </include>
        , es.description as pe_state_description
        , pr.description as pe_role_description
        , pj.id as pe_pjob_id
        , pj.description as pe_pjob_description
        ,
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.CompanyExMapper.Min_Alias_Column_List">
            <property name="tableAlias" value="c."/>
            <property name="fieldAlias" value="pe_company_"/>
        </include>
        ,
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.CompanyExMapper.Min_Alias_Column_List">
            <property name="tableAlias" value="oc."/>
            <property name="fieldAlias" value="pe_destination_company_"/>
        </include>
        ,
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.PersonMapper.Alias_Column_List">
            <property name="tableAlias" value="p."/>
            <property name="fieldAlias" value="pe_person_"/>
        </include>
        ,
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.WbsExMapper.Min_Alias_Column_List">
            <property name="tableAlias" value="wbs."/>
            <property name="fieldAlias" value="wbs_"/>
        </include>
        ,
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.EntityStateExMapper.Min_Alias_Column_List">
            <property name="tableAlias" value="st."/>
            <property name="fieldAlias" value="st_"/>
        </include>
        ,
        ev.state_id as st_id
    </sql>

    <sql id="Select_Joined_Tables">
        left join person_employment pe on ev.person_empl_id = pe.id
        left join entity_state es on pe.state_id=es.id
        left join company c on pe.company_id=c.id
        left join person p on pe.person_id=p.id
        left join person_role pr on pe.role_id=pr.id
        left join person_job pj on pe.job_id=pj.id
        left join company oc on pe.destination_company_id=oc.id
        left join entity_state st on ev.state_id=st.id
        left join wbs wbs on ev.wbs_id=wbs.id
    </sql>

    <!--show only changes. query need already a condition in WorkLogPersonEventExExample to function-->
    <sql id="notInWeeklyWorkLogId">
        <if test="notInWeeklyWorkLogId != null">
            and person_empl_id not in
            (select wwlp.person_empl_id from weekly_work_log_person wwlp WHERE wwlp.weekly_work_log_id =
            #{notInWeeklyWorkLogId,jdbcType=BIGINT})
        </if>
    </sql>

    <select id="selectExByExample"
            parameterType="it.memelabs.smartnebula.lmm.persistence.main.dto.WorkLogPersonEventExExample"
            resultMap="BaseResultMap">
        select * from (
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.WorkLogPersonEventMapper.Alias_Column_List">
            <property name="tableAlias" value="ev."/>
            <property name="fieldAlias" value=""/>
        </include>
        ,
        <include refid="Select_Joined_Column_List"/>
        from work_log_person_event as ev
        <include refid="Select_Joined_Tables"/>
        ) t
        <if test="_parameter != null">
            <include
                    refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.WorkLogPersonEventMapper.Example_Where_Clause"/>
            <include refid="notInWeeklyWorkLogId">
                <!--show only changes. query need already a condition in WorkLogPersonEventExExample to function-->
            </include>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <select id="countExByExample"
            parameterType="it.memelabs.smartnebula.lmm.persistence.main.dto.WorkLogPersonEventExExample"
            resultType="java.lang.Integer">
        select count(1) from (
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.WorkLogPersonEventMapper.Alias_Column_List">
            <property name="tableAlias" value="ev."/>
            <property name="fieldAlias" value=""/>
        </include>
        ,
        <include refid="Select_Joined_Column_List"/>
        from work_log_person_event as ev
        <include refid="Select_Joined_Tables"/>
        ) t
        <if test="_parameter != null">
            <include
                    refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.WorkLogPersonEventMapper.Example_Where_Clause"/>
            <include refid="notInWeeklyWorkLogId">
                <!--show only changes. query need already a condition in WorkLogPersonEventExExample to function-->
            </include>
        </if>
    </select>

    <select id="selectExByPrimaryKey"
            parameterType="it.memelabs.smartnebula.lmm.persistence.main.dto.WorkLogPersonEventKey"
            resultMap="BaseResultMap">
        select
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.WorkLogPersonEventMapper.Alias_Column_List">
            <property name="tableAlias" value="ev."/>
            <property name="fieldAlias" value=""/>
        </include>
        ,
        <include refid="Select_Joined_Column_List"/>
        from work_log_person_event as ev
        <include refid="Select_Joined_Tables"/>
        where ev.id = #{id,jdbcType=BIGINT}
    </select>

    <update id="update" parameterType="it.memelabs.smartnebula.lmm.persistence.main.dao.WorkLogEventUpdateFilter">
        UPDATE work_log_person_event
        <set>
            <if test="wbsId != null">
                wbs_id = #{wbsId,jdbcType=BIGINT},
            </if>
            <if test="wbsIdNull">
                wbs_id = null,
            </if>
            <if test="stateId != null">
                state_id = #{stateId,jdbcType=BIGINT},
            </if>
            <if test="modifiedStamp != null">
                modified_stamp = #{modifiedStamp,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedByUserId != null">
                modified_by_user_id = #{modifiedByUserId,jdbcType=BIGINT},
            </if>
            <if test="destinationWorkLogId != null">
                work_log_id = #{destinationWorkLogId,jdbcType=BIGINT},
            </if>
            <if test="stateTag != null">
                state_tag = #{stateTag,jdbcType=VARCHAR,typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            </if>
        </set>
        <where>
            work_log_id = #{workLogId,jdbcType=BIGINT} AND
            id in
            <foreach item="item" index="index" collection="events"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </update>

    <select id="countNotValid" resultType="java.lang.Integer">
        select count (1)
        from work_log_person_event EV
        join person_employment PE on EV.person_empl_id=PE.id
        join company C on PE.company_id=C.id
        <where>
            (
            <![CDATA[C.state_tag <>'AUTHORIZED' ]]>
            OR <![CDATA[PE.state_tag<>'AUTHORIZED' ]]>
            OR <![CDATA[ PE.start_date > to_date(EV.event_timestamp::text, 'YYYY-MM-DD') ]]>
            OR <![CDATA[ PE.end_date < to_date(EV.event_timestamp::text, 'YYYY-MM-DD') ]]>
            )
            AND
            EV.work_log_id = #{workLogId,jdbcType=BIGINT}
            AND
            EV.id in
            <foreach item="item" index="index" collection="events"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="countDuplicate" resultType="java.lang.Integer">
        select count (1)
        from work_log_person_event SRC, work_log_person_event DEST
        <where>
            SRC.person_empl_id = DEST.person_empl_id
            and SRC.event_timestamp = DEST.event_timestamp
            and SRC.work_log_id = #{srcWorkLogId,jdbcType=BIGINT}
            and DEST.work_log_id=#{destWorkLogId,jdbcType=BIGINT}
            and SRC.id in
            <foreach item="item" index="index" collection="events"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="selectPersonEmploymentIds" resultType="java.lang.Long">
        select DISTINCT EV.person_empl_id
        from work_log_person_event EV
        <where>
            EV.work_log_id = #{workLogId,jdbcType=BIGINT}
            and EV.state_tag='VALIDATED'
        </where>
    </select>


    <sql id="Select_Joined_WorkLog_Column_List">
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.WorkLogMapper.Alias_Column_List">
            <property name="tableAlias" value="WL."/>
            <property name="fieldAlias" value="work_log_"/>
        </include>
        ,
        <include
                refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.ConstructionSiteExMapper.Min_Alias_Column_List">
            <property name="tableAlias" value="CS."/>
            <property name="fieldAlias" value="work_log_construction_site_"/>
        </include>
    </sql>


    <select id="findForExportByFilter"
            parameterType="it.memelabs.smartnebula.lmm.persistence.main.dto.WorkLogPersonEventExample"
            resultMap="ExportResultMap">
        select * from (
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.WorkLogPersonEventMapper.Alias_Column_List">
            <property name="tableAlias" value="ev."/>
            <property name="fieldAlias" value=""/>
        </include>
        ,
        <include refid="Select_Joined_Column_List"/>
        ,
        <include refid="Select_Joined_WorkLog_Column_List"/>
        ,
        <include refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.PostalAddressExMapper.Alias_Column_List">
            <property name="tableAlias" value="bloc."/>
            <property name="fieldAlias" value="bloc_"/>
        </include>
        from work_log_person_event as ev
        <include refid="Select_Joined_Tables"/>
        JOIN work_log as WL ON ev.work_log_id = WL.id
        left JOIN construction_site as CS ON WL.construction_site_id = cs.id
        left join postal_address_view bloc on p.birth_location_id = bloc.id
        ) t
        <if test="_parameter != null">
            <include
                    refid="it.memelabs.smartnebula.lmm.persistence.main.mapper.WorkLogPersonEventMapper.Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>


</mapper>