#* @vtlvariable name="paramDescriptions" type="java.util.Map"  *#
#* @vtlvariable name="modelService" type="org.ofbiz.service.ModelService" *#
#* @vtlvariable name="serviceName" type="java.lang.String" *#
Service name: $serviceName
Service description: $modelService.description

#foreach($pName in $modelService.getInParamNames())
    #set( $p=$modelService.getParam($pName))
    $pName#if(!$p.isOptional())* #end [$p.getType()-$p.getMode()] $paramDescriptions.get($pName)
#end

#foreach($pName in $modelService.getOutParamNames())
    #set( $p=$modelService.getParam($pName))
    $pName#if(!$p.isOptional())* #end [$p.getType()-$p.getMode()]
#end